body{
    background-color: #01102f;
    color: #7fe9ff;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.box{
    display: flex;
    background-color: #7fe9ff;
    height: 4px;
    width: 40px;
}

.blurb{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    margin-bottom: -30svh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #01102f;
    color: #fff;
}

.logo{
    display: flex;
    height: 100px;
    width: 100px;
}

.sidebilde{
    display: flex;
    justify-content: end;
    height: 40svh;
    width: auto;
}

.nyBakgrunn{
    background-color: white;
    display: flex;
    height: 100svh;
    width: 100svw;
}

.nav-menu ul {
    list-style: none;
    display: flex;
}

.nav-menu ul li {
    margin-left: 20px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-menu ul li a:hover {
    text-decoration: underline;
}

.reviews-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviews-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.navTittel{
    display: flex;
    margin-right: 220px;
}

.navUnderTittel{
    display: flex;
    margin-right: 420px;
    margin-left: -280px;
    margin-bottom: -5px;
}

.review {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.review:last-child {
    border-bottom: none;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-header h3 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

.rating {
    color: #f39c12;
    font-size: 1.2em;
}

.review p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.knapp {
    margin-left: 200px;
    width: 300px;
    height: 75px;
    background-color: #7fe9ff ;
    border: 0px;
    border-radius: 15px;
    position: relative;
    bottom: 0;
    transition: all .2s ease-out;
    
}

.knapp:hover {
    bottom: 15px;
    background-color: #2e4d89;
    cursor: pointer;
    color: white;
}

.video-container {
    position: relative;
    width: 100%;
    height: 70svh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

