img{
    height: 30%;
    width: 30%;
}

video{
    display: flex;
    justify-content: flex-start;
}

text{
    margin-left: 80vw;
}

h1{
    display: flex;
    justify-content: end;
    align-self: flex-end;
}